


.input_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .slider {
    transform: translateY(100%);
    width: 100%;
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    border-radius: 20px;
    height: 20px;
    background: #F0A719;
    outline: none;
    position: relative;

    &::before {
      position: absolute;
      content: "$250";
      top: 30px;
      left: 10px;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #5E6B74;
    }

    &::after {
      position: absolute;
      content: "$2500";
      top: 30px;
      left: 94%;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #5E6B74;
    }
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #FFFFFF;
    transition: .1s;

  }

  .slider::-moz-range-thumb {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #FFFFFF;
    transition: .1s;
  }

  .slider::-webkit-slider-thumb:hover,
  .slider::-webkit-slider-thumb:active {
    width: 39px;
    height: 39px;
    cursor: pointer;
  }

  .sliderValue {
    top: 0;
    left: 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }

}
